In [111]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [121]:
url='https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue'
page =requests.get(url)
soup=BeautifulSoup(page.text,'html')
# print(soup.prettify())

In [132]:
table= soup.find('table',class_='wikitable sortable sticky-header-multi sort-under')

In [140]:
headers = table.find_all('th')
header_list = []
for header in headers:
    text = header.get_text(strip=True)
    
    # Filter out unwanted headers like numbers and footnotes
    if text and not text.isdigit() and not text.startswith('['): 
        header_list.append(text)

# Print the cleaned list of headers
print(header_list)

['Rank', 'Ram', 'Industry', 'Revenue', 'Profit', 'Employees', 'Headquarters[note 1]', 'State-owned', 'Ref.', 'USD millions']

In [165]:
rows=table.find_all('tr')
# print(rows[3])

In [164]:
table_data=[]

for row in rows:
    cols = row.find_all(['td'])   
    cols = [col.text.strip() for col in cols]  

    if len(cols) > 0:
        table_data.append(cols)

['USD millions']
['Rank', 'Ram', 'Industry', 'Revenue', 'Profit', 'Employees', 'Headquarters[note 1]', 'State-owned', 'Ref.', 'USD millions']

In [166]:
df=pd.DataFrame(table_data,columns=header_list[1:],)
print(df)

             Ram                                 Industry  \
0           Rank                                      Ram
1   USD millions                                     None
2              1                                  Walmart
3              2                                   Amazon
4              3          State Grid Corporation of China
5              4                             Saudi Aramco
6              5          China Petrochemical Corporation
7              6     China National Petroleum Corporation
8              7                                    Vitol
9              8                                    Apple
10             9                       UnitedHealth Group
11            10                       Berkshire Hathaway
12            11                               CVS Health
13            12                         Volkswagen Group
14            13                               ExxonMobil
15            14                                    Shell
16            15     China State Construction Engineering
17            16                                   Toyota
18            17                                 McKesson
19            18                                 Alphabet
20            19                                  Cencora
21            20                                Microsoft
22            21                                Trafigura
23            22                                   Costco
24            23                           JPMorgan Chase
25            24  Industrial and Commercial Bank of China
26            25                            TotalEnergies
27            26                                 Glencore
28            27                                       BP
29            28                          Cardinal Health
30            29                               Stellantis
31            30                                  Chevron
32            31                  China Construction Bank
33            32                      Samsung Electronics
34            33                                  Foxconn
35            34                                    Cigna
36            35               Agricultural Bank of China
37            36                           Schwarz Gruppe
38            37    China Railway Engineering Corporation
39            38                                  Cargill
40            39                       Ford Motor Company
41            40                            Bank of China
42            41                          Bank of America
43            42                           General Motors
44            43                          Elevance Health
45            44                                BMW Group
46            45                               Tata Group
47            46                      Mercedes-Benz Group
48            47   China Railway Construction Corporation
49            48                                    Baowu
50            49                                Citigroup
51            50                                     Enel

                          Revenue    Profit Employees Headquarters[note 1]  \
0                        Industry   Revenue    Profit            Employees
1                            None      None      None                 None
2                          Retail  $648,125   $15,511            2,100,000
3   Retail information technology  $574,785   $30,425            1,525,000
4                     Electricity  $545,948    $9,204            1,361,423
5                     Oil and gas  $488,980  $129,699               73,311
6                     Oil and gas  $429,700    $9,393              513,434
7                     Oil and gas  $476,000   $25,250            1,026,301
8                     Commodities  $400,000   $13,000                1,560
9          Information technology  $383,285   $96,995              161,000
10                     Healthcare  $371,622   $22,381              440,000
11                     Financials  $364,482   $96,223              396,500
12                     Healthcare  $357,776    $8,344              259,500
13                     Automotive  $348,408   $17,945              684,025
14                    Oil and gas  $344,582   $36,010               61,500
15                    Oil and gas  $323,183   $19,359              103,000
16                   Construction  $320,431    $4,272              382,894
17                     Automotive  $312,018   $34,214              380,793
18                     Healthcare  $308,951    $3,002               48,000
19         Information technology  $307,394   $73,795              182,502
20                     Healthcare  $262,173    $1,745               44,000
21         Information technology  $245,122   $88,136              228,000
22                    Commodities  $244,280    $7,393               12,479
23                         Retail  $242,290    $6,292              316,000
24                     Financials  $239,425   $49,552              309,926
25                     Financials  $222,484   $51,417              419,252
26                    Oil and gas  $218,945   $21,384              102,579
27                    Commodities  $217,829    $4,280               83,426
28                    Oil and gas  $213,032   $15,239               79,400
29                     Healthcare  $205,012      $261               47,520
30                     Automotive  $204,908   $20,103              258,275
31                    Oil and gas  $200,949   $21,369               45,600
32                     Financials  $199,826   $46,990              376,871
33                    Electronics  $198,257   $11,082              267,860
34                    Electronics  $197,876    $4,563              621,393
35                     Healthcare  $195,265    $5,164               71,413
36                     Financials  $192,398   $38,049              451,003
37                         Retail  $180,576   $16,988              575,000
38                   Construction  $178,563    $2,152              314,149
39                   Conglomerate  $177,000   $17,641              160,000
40                     Automotive  $176,191    $4,347              177,000
41                     Financials  $172,328   $32,758              306,931
42                     Financials  $171,912   $26,515              212,985
43                     Automotive  $171,842   $10,127              163,000
44                     Healthcare  $171,340    $5,987              104,900
45                     Automotive  $168,103   $12,205              154,950
46                   Conglomerate  $165,500   $12,205            1,028,000
47                     Automotive  $165,638   $15,417              166,056
48                   Construction  $160,847    $1,701              336,433
49                          Steel  $157,216    $2,494              258,697
50                     Financials  $156,820    $9,228              237,925
51                         Energy  $147,100    $3,400               61,060

             State-owned         Ref. USD millions
0   Headquarters[note 1]  State-owned         Ref.
1                   None         None         None
2          United States                       [1]
3          United States                       [4]
4                  China                       [5]
5           Saudi Arabia                       [6]
6                  China                       [7]
7                  China                       [8]
8            Switzerland                   [9][10]
9          United States                      [11]
10         United States                      [12]
11         United States                      [13]
12         United States                      [14]
13               Germany                      [15]
14         United States                      [16]
15        United Kingdom                      [17]
16                 China                      [18]
17                 Japan                      [19]
18         United States                      [20]
19         United States                      [21]
20         United States                      [22]
21         United States                      [23]
22             Singapore                      [24]
23         United States                      [25]
24         United States                      [26]
25                 China                      [27]
26                France                      [28]
27           Switzerland                      [29]
28        United Kingdom                      [30]
29         United States                      [31]
30           Netherlands                      [32]
31         United States                      [33]
32                 China                      [34]
33           South Korea                      [35]
34                Taiwan                      [36]
35         United States                      [37]
36                 China                      [38]
37               Germany                      [39]
38                 China                      [40]
39         United States                      [41]
40         United States                      [42]
41                 China                      [43]
42         United States                      [44]
43         United States                      [45]
44         United States                      [46]
45               Germany                      [47]
46                 India                      [48]
47               Germany                      [49]
48                 China                      [50]
49                 China                      [51]
50         United States                      [52]
51                 Italy                      [53]

In [167]:
df.to_csv('largest_companies.csv')